@using Zealandic_Booking.Pages.LogIn
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Zealandic_Booking</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/select-main/select.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/select-main/select.js" type="module"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="js/notice.js"></script>
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Zealandic Booking</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Book et rum</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Room/GetRooms">Alle rum</a>
                        </li>

                        @{
                            if (Context.User.Identity.IsAuthenticated)
                            {

                                if (User.IsInRole("teacher") || User.IsInRole("admin"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Booking/GetBookings">Se alle bookinger</a>
                                    </li>
                                }
                            }
                        }

                        
                        @{
                            if (User.IsInRole("admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/Admin/CreateUser">Opret bruger</a>
                                </li>
                            }
                        }
                    </ul>
                    <ul class="navbar-nav">
                        @{
                            if (Context.User.Identity.Name==null)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/LogIn/LogIn">Log ind</a>
                                </li>
                            }
                            else
                            {
                                if (Context.User.Identity.Name != null)
                                {
                                    <li class="nav-item nav-link mr-3">
                                        Bruger:  @Context.User.Identity.Name
                                    </li>
                                }
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/LogIn/LogOut">Log out</a>
                                </li>
                            } 
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
