@page       "{id:int}"
@using System.Timers
@model Zealandic_Booking.Pages.Booking.DeleteBookingModel
@{
}
<h1>Bekræft, at du ønsker at slette reservationen</h1>
<div class="alert alert-danger">
    <form method="post">
        <button type="submit" class="btn btn-danger">Ja, slet reservation</button>
        <p>@Model.Message</p>
        <a href="mailto:123@edu.zealand.dk">
            Send e-mail for at give besked til @{
                                                   try
                                                   {
                                                       @Model.SingleBooking.User.Name
                                                   }
                                                   catch
                                                   { <p>eleven</p>
                                                   }
                                               }  om hans aflyste reservation
        </a>
        <a class="btn btn-primary" asp-page="/Booking/GetBookings">Nej, slet ikke</a>
    </form>
</div>